<div>
     <div class="col-md-12">
          <form ng-submit='controller.addPhoto(controller.form)'>
               <label>image tle</label>
               <input type="text" name="" value="" ng-model="controller.form.title">
               <label>url</label>
               <input type="text" name="" value="" ng-model="controller.form.url">
               <label>description</label>
               <textarea name="" ng-model="controller.form.description"></textarea>
               <button type="submit">capture this</button>
          </form>
     </div>
</div>
