<div>
     <div class="col-md-12">
          <form ng-model= >
               <label>image title</label>
               <input type="text" name="" value="" ng-model="controller.form.title">
               <label>url</label>
               <input type="text" name="" value="" ng-model="controller.form.url">
               <label>description</label>
               <textarea name="" ng-model="controller.form.description"></textarea>
               <button type="submit" ng-submit=controller.onSubmitAddPhoto(photo.)>capture this</button>
          </form>
     </div>
</div>
