<h2 class="cat">Category by Brand</h2>
<ul class="brand-logos">
     <li><img class="logo" src="/images/logo_sexyHair.jpg" alt=""></li>
     <li><img class="logo" src="/images/logo_bumble.png" alt=""></li>
     <li><img class="logo" src="/images/logo_johnFrieda.jpg" alt=""></li>
     <li><img class="logo" src="/images/logo_paulMitchell.png" alt=""></li>
     <li><img class="logo" src="/images/logo_sebastian.png" alt=""></li>
     <li><img class="logo" src="/images/logo_tigi.jpg" alt=""></li>
</ul>
