<div>
            <h3>Featured Item:</h3>
            <a ui-sref="featured">Hold Please! Hairspray Collection</a>

            <img src="/images/product_holdPlease.png" alt="Hold Please!">
            <p>Don't expect this product to give you fabulous hold or incredible shine. If you are looking for a spray that adds volume and helps you get a tousled/ loose waves look this spray is for you. There is no "crunchiness" to this hairspray but if you overdue it your hair can look greasy. Love, love, love the smell of this spray! It smells like a light smelling cotton candy, divine! I would buy again mainly for the smell of this.</p>
</div>
